.DS_Store
node_modules
/.svelte
/.svelte-kit
/build
/.vercel
/.netlify
/functions
/dist
/workers-site
.vscode/Component.code-snippets
.gitignore
.sveltegen.json
.vscode/settings.json
.vercel_build_output
.vercel
.cloudflare
.netlify
/app/.svelte-kit/cloudflare*
/app/.svelte-kit/adapter*
/packages/proxy-server/rust/target
