.DS_Store
node_modules
/.svelte
/.svelte-kit
/build
/.vercel
/.netlify
/functions
/dist
/workers-site
wrangler.toml
.vscode/Component.code-snippets
src/routes/api/backup
.env
src/lib/_parsers.ts
src/lib/components/Player/_Player.svelte
.gitignore
src/routes/trending/test/index.json.ts
src/routes/trending/test/index.svelte
package-lock.json
package-lock.json
