version: "3"

services:
  app:
    image: "snuffydev/beatbump:master"
    build:
      context: ./app
      dockerfile: Dockerfile
      args:
        - PORT=$PORT
    ports:
      - "443:${PORT}"
    environment:
      PORT: 33125
      VITE_DOMAIN: "beatbump.ml"
      VITE_SITE_URL: "https://beatbump.ml"
      VITE_DONATION_URL: "https://www.paypal.com/donate/?hosted_button_id=E6YRHKS2H2KP2"
    restart: unless-stopped
