form {
	&.inline {
		display: inline-flex;
		align-items: center;
		height: auto;
		min-height: 5ch;
		max-height: 30ch;
		margin-left: auto;
	}
}

label {
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	font-variant-caps: all-small-caps;
	letter-spacing: -0.02em;
}

[type="checkbox"],
[type="radio"] {
	display: inline;
	font-family: initial;
	margin-right: calc(var(--sm-spacing) * 0.5);
}

[type="file"] {
	margin-bottom: var(--sm-spacing);
	width: 100%;
}

input:not([type="range"]):not([type="checkbox"]):not([type="radio"]) {
	appearance: none;
	background: transparent;
	border: none;
	outline: none;
	color: inherit;
	box-sizing: border-box;
	padding: 0.6666666667em;
	font-family: var(--base-font-family);
	letter-spacing: -0.02em;
	font-size: 1em;
}

input:not([type="range"]):not([type="checkbox"]):not([type="search"]) {
	border: 0.0625em solid rgba(170, 170, 170, 0.219);
	font-family: inherit;
	width: inherit;
	border-radius: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.input {
	position: relative;

	height: auto;
	min-height: 5ch;
	max-height: 30ch;
	min-width: 15ch;
	max-width: 32ch;
	width: 100%;

	transition: 100ms cubic-bezier(0.47, 0.25, 0.745, 0.715);
	transition-property: border-color, filter, color;

	border: 0.0625em solid hsla(0, 0%, 66.7%, 0.219);
	border-radius: var(--sm-radius);
	box-shadow: 0 0 0.25em 0.02em hsla(0, 0%, 66.7%, 0) !important;

	background: var(--form-bg);

	&.block {
		max-width: 100%;
	}
	::placeholder {
		font-weight: 400;
		opacity: 0.7;
	}

	@media screen and (hover: hover) {
		&:hover {
			filter: brightness(1.07);
			border-color: rgba(114, 114, 114, 0.663);
		}
	}
	&:hover:active,
	&:focus-within {
		border-color: rgba(158, 158, 158, 0.658);
		filter: brightness(1.15);
	}
	&:has(input[type="search"]) {
		min-width: 15ch;
		max-width: 80ch;
	}
	&:has(input[type="search"]) {
		display: grid;
		grid-template-columns: 1fr 31px;
		grid-template-areas: "start end";
	}
}

input[type="search"] {
	-webkit-appearance: none;
	background: #0000;
	border: none;
	appearance: none;
	width: inherit;
}

.searchBtn {
	pointer-events: all;
	cursor: pointer;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;

	justify-self: center;

	width: 100%;
	z-index: 10;
	color: inherit;

	grid-area: end;
	background-clip: content-box;
	border-radius: inherit;
}
