$sections: (
	bottom: (
		footer-container,
		player,
	),
	top: (
		nav,
	),
	forms: (
		select,
		input,
		option,
		suggestions,
	),
);

$themes: (
	YTM: (
		"bottom": linear-gradient(0deg, #121018 28%, #18171e 100%),
		"base": #010102,
		"top": #010102,
		"form": #1b1922,
		"side":hsl(260, 7%, 8%)
	),
	Dark: (
		"bottom": linear-gradient(0deg, #121216 28%, #1a1a20 100%),
		"base": #010102,
		"top": #161516,
		"form": #1c1f20,
		"side": hsl(255, 16%, 10%),
	),
	Dim: (
		"bottom": #141820,
		"base": #010102,
		"top": #141820,
		"form": #1c1f20,
		"side": hsl(255, 16%, 10%),
	),
	Midnight: (
		"base": #010102,
		"top": hsl(267, 14%, 6%),
		"side": #15141b,
		"bottom": linear-gradient(0deg, #12131c 32%, #191a26 100%),
		"form": #1b1922,
	),
);
$theme-name: (Dark, Dim, Midnight, YTM);
$section-names: (base, top, side, bottom, form);

:root {
	--mobile-popper-bg: unset;
}
html {
	@each $section in $section-names {
		@each $theme in $theme-name {
			--#{$theme}-#{$section}: #{map-get($themes, $theme, $section)};
		}
	}
	@each $theme in $theme-name {
		&.#{$theme} {
			--mobile-popper-bg: #{map-get($themes, $theme, "side")};
			--form-bg: #{map-get($themes, $theme, "form")};
			--form-contrast-bg: #{scale-color(
					map-get($themes, $theme, "form"),
					$lightness: 33%,
					$saturation: -100%,
					$alpha: -85%
				)};
			--disabled-form-bg: #{scale-color(
					map-get($themes, $theme, "form"),
					$lightness: 17%,
					$alpha: -25%
				)};
			--disabled-form-fg: #{scale-color(
					map-get($themes, $theme, "form"),
					$lightness: 60%
				)};
			--bottom-bg: #{map-get($themes, $theme, "bottom")};
			--bottom-bg-light: #{scale-color(
					map-get($themes, $theme, "base"),
					$lightness: 8%,
					$saturation: -66%
				)};
			--menu-bg-light: #{scale-color(
					map-get($themes, $theme, "base"),
					$lightness: 15%,
					$saturation: -90%
				)};

			--top-bg: #{map-get($themes, $theme, "top")};
			--base-bg: #{map-get($themes, $theme, "base")};
			--base-bg-opacity-1_2: #{transparentize(
					map-get($themes, $theme, "base"),
					0.5
				)};
			--base-bg-opacity-3_4: #{transparentize(
					map-get($themes, $theme, "base"),
					0.8
				)};
			background: var(--base-bg-opacity-1_2);

			@each $section, $elm in $sections {
				@if $section != "top" {
					.#{$elm} {
						background: #{var(--#{$section}-bg)};
					}
				}
			}
		}
	}
}
