$color-white: #fff !default;
$color-silver: #ddd !default;
$color-gray: #aaa !default;
$color-black: #000000 !default;
$color-red: #ff4136 !default;
$color-orange: #ff851b !default;
$color-yellow: #ffdc00 !default;
$color-lime: #01ff70 !default;
$color-green: #2ecc40 !default;
$color-olive: #3d9970 !default;
$color-greenyellow: #77e213 !default;
$color-teal: #39cccc !default;
$color-aqua: #7fdbff !default;
$color-blue: #0074d9 !default;
$color-navy: hsl(241, 80%, 18%) !default;
$color-fuchsia: #f012be !default;
$color-purple: #b10dc9 !default;
$color-maroon: #85144b !default;
$color-grey: $color-gray !default;
$color-active: #46b3d8 !default;
$color-primary: $color-active !default;
$color-secondary: $color-blue !default;
$color-danger: $color-red !default;
$color-waring: $color-yellow !default;
