$_form-background-color: #f3f3f3;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($base-color, 0.7);

form {
	&.inline {
		display: inline-flex;
		align-items: center;
	}
}

fieldset {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	font-weight: 600;
	margin-bottom: $small-spacing * 0.5;
	padding: 0;
}

label {
	display: block;
	font-weight: 500;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-variant-caps: all-small-caps;
	// margin-bottom: $small-spacing * 0.5;
}

textarea {
	resize: vertical;
}

[type="checkbox"],
[type="radio"] {
	display: inline;
	font-family: initial;
	margin-right: $small-spacing * 0.5;
}

[type="file"] {
	margin-bottom: $small-spacing;
	width: 100%;
}
input:not([type="range"]):not([type="checkbox"]) {
	appearance: none;
	background: transparent;
	border: none;
	outline: none;
	color: inherit;
	box-sizing: border-box;
	padding: 0.6666666667rem;
	font-family: var(--base-font);
	letter-spacing: -0.02rem;
	font-size: 100% !important;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.input,
input[type="search"] {
	-webkit-appearance: none;
	// background: #1d242e;
	color: #fff;
	border: 0.0625rem solid rgba(170, 170, 170, 0.219);

	-moz-appearance: none;

	min-width: 15ch;
	max-width: 30ch;
	transition: color cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
	&:focus-within::placeholder {
		color: #fff;
	}
}
.input {
	display: grid;
	grid-template-columns: 1fr 31px;
	grid-template-areas: "start end";
	position: relative;
	background-color: transparent;
	border: 0.0625rem solid hsla(0, 0%, 66.7%, 0.219);
	border-radius: 0.2em;
	box-shadow: inset 0.1125em -0.1125em 1em 0.5em hsla(0, 0%, 96.9%, 0.014), 0 0 0.25em 0.02em hsla(0, 0%, 66.7%, 0) !important;
	transition: all 0.1s cubic-bezier(0.47, 0.25, 0.745, 0.715);
	width: 100%;
	&:active {
		// background: #262e38;
		background-color: #35353523;

		transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
	}
}
input :not([type="range"]) :not([type="checkbox"]) {
	border: 0.0625rem solid rgba(170, 170, 170, 0.219);
	font-family: inherit;
	width: auto;
	height: auto;
	font-size: 1.25em;
}
.searchBtn {
	pointer-events: all;
	cursor: pointer;
	z-index: 5;
	/* width: 1rem; */
	/* height: 1rem; */
	display: flex;
	align-content: center;
	align-self: center;
	padding: 1.566666ch;
	/* margin-right: .5rem; */
	justify-self: center;
	z-index: 10;
	color: inherit;
	/* right: 0; */
	/* top: 0; */
	grid-area: end;
}
