.l-container {
	position: relative;
	height: 100%;
}

.parent {
	width: 100%;
	align-items: center;
	justify-items: center;
	grid-area: m/m/m/m;
	height: 100%;
}

.wrapper {
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: block;
	touch-action: pan-y;
	grid-area: m/m/m/m;
}

.parentWrapper {
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	width: auto;
	max-width: 100%;
	border-radius: 7px;
	box-sizing: border-box;
	color: #999;
}
@media (min-width: 640px) {
	.l-container {
		overflow-x: hidden;
	}
	.parent {
		width: calc(100% - 40px);
	}
}
