.text-300 {
	font-size: 0.8rem;
}

.text-400 {
	font-size: 1rem;
}

.text-500 {
	font-size: 1.25rem;
}

.text-600 {
	font-size: 1.56rem;
}

.text-700 {
	font-size: 1.95rem;
}

.text-800 {
	font-size: 2.44rem;
}

.text-900 {
	font-size: 3.05rem;
}

.weight-light {
	font-weight: 300;
}

.weight-regular {
	font-weight: 400;
}

.weight-mid {
	font-weight: 600;
}

.weight-bold {
	font-weight: 700;
}

@media (min-width: 32em) {
	.sm\:text-300 {
		font-size: 0.8rem;
	}

	.sm\:text-400 {
		font-size: 1rem;
	}

	.sm\:text-500 {
		font-size: 1.25rem;
	}

	.sm\:text-600 {
		font-size: 1.56rem;
	}

	.sm\:text-700 {
		font-size: 1.95rem;
	}

	.sm\:text-800 {
		font-size: 2.44rem;
	}

	.sm\:text-900 {
		font-size: 3.05rem;
	}
}

@media (min-width: 48em) {
	.md\:text-300 {
		font-size: 0.8rem;
	}

	.md\:text-400 {
		font-size: 1rem;
	}

	.md\:text-500 {
		font-size: 1.25rem;
	}

	.md\:text-600 {
		font-size: 1.56rem;
	}

	.md\:text-700 {
		font-size: 1.95rem;
	}

	.md\:text-800 {
		font-size: 2.44rem;
	}

	.md\:text-900 {
		font-size: 3.05rem;
	}
}

@media (min-width: 68em) {
	.lg\:text-300 {
		font-size: 0.8rem;
	}

	.lg\:text-400 {
		font-size: 1rem;
	}

	.lg\:text-500 {
		font-size: 1.25rem;
	}

	.lg\:text-600 {
		font-size: 1.56rem;
	}

	.lg\:text-700 {
		font-size: 1.95rem;
	}

	.lg\:text-800 {
		font-size: 2.44rem;
	}

	.lg\:text-900 {
		font-size: 3.05rem;
	}
}
