:root {
	--ytm-bottom: #121018;
	--ytm-base: #09090a;
	--ytm-top: #09090a;
	--ytm-forms: rgba(17, 16, 20, 0.993);
	--ytm-side: #1210183a;

	--dark-bottom: #111214;
	--dark-base: #09090a;
	--dark-top: #111214;
	--dark-forms: #181a1aa9;
	--dark-side: #0b0c0c;

	--dim-bottom: rgb(20, 24, 32);
	--dim-base: rgb(9 9 10);
	--dim-top: rgb(20, 24, 32);
	--dim-forms: #181a1ab7;
	--dim-side: #0b0c0f;
}
