:root {
	--ytm-bottom: #121018;
	--ytm-base: #030303;
	--ytm-top: #030303;
	--ytm-forms: #12101844;
	--ytm-side: #1210183a;

	--dark-bottom: #111214;
	--dark-base: #030303;
	--dark-top: #111214;
	--dark-forms: #181a1a86;
	--dark-side: #0b0c0c;

	--dim-bottom: rgb(20, 24, 32);
	--dim-base: rgb(9 9 10);
	--dim-top: rgb(20, 24, 32);
	--dim-forms: #181a1a86;
	--dim-side: #0b0c0f;
}
