/** @type{import('eslint').ESLint.ConfigData } */
{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:svelte/recommended"
	],
	"plugins": ["@typescript-eslint", "unused-imports", "svelte"],
	"ignorePatterns": ["*.cjs"],
	"overrides": [
		{
			"files": ["*.svelte"],
			"parser": "svelte-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser"
			}
		},
		{ "files": ["*.cjs"], "env": { "node": true } }
	],
	"rules": {
		"no-mixed-spaces-and-tabs": "off",
		"svelte/valid-compile": "off",
		"no-unused-vars": "off", // or "@typescript-eslint/no-unused-vars": "off",
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"varsIgnorePattern": "^_",
				"args": "after-used",
				"argsIgnorePattern": "^_"
			}
		]
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"],
			"espree": [".js"]
		},
		"import/resolver": {
			"node": true,
			"typescript": {
				"alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`

				// Choose from one of the "project" configs below or omit to use <root>/tsconfig.json by default

				// use a glob pattern
				"project": ["./tsconfig.json", "./.svelte-kit/tsconfig.json"]
			}
		}
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2017,
		"project": "tsconfig.json",
		"extraFileExtensions": [".svelte"] // This is a required setting in `@typescript-eslint/parser` v4.24.0.
	},
	"env": {
		"browser": true,
		"es2020": true,
		"node": true
	}
}
