@use "./mixins";
@use "./variables" as v;
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	font-size: 12px;
}
// @media (pointer: fine) {
// 	*:focus-visible:not(input):not(.input):not(select):not(.select):not(.no-style) {
// 		outline: 0.16666em rgb(113, 175, 255) solid !important;
// 	}
// }
// :focus:not(:focus-visible) {
// 	outline: none;
// }
html,
body {
	background-color: #09090a;
	color: var(--color-dark);
	line-height: 1.5;
	position: fixed;
	min-height: 100vh;
	min-width: 100vw;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

body {
	margin: 0;
}

:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	--base-font-size: 0.75rem;

	/* ===== Scrollbar CSS ===== */

	* {
		scrollbar-gutter: 0.833333rem;
		scrollbar-width: thin;
		scrollbar-color: #c7c7c7 #5e5e5e2f;
	}

	::-webkit-scrollbar {
		width: 0.916667rem;
		height: 0.916667rem;
	}

	::-webkit-scrollbar-track {
		background: #74747e21;
		border-radius: 0.625rem;
		height: 0.916667rem;
		width: 100%;
		background-clip: content-box;
		border-radius: 0.833333rem;
		border: transparent solid 0.0983333rem;
	}

	::-webkit-scrollbar-thumb {
		background-color: #e0e0e0a8;
		border-radius: 0.5625rem;
		width: 0.5625rem;
		scrollbar-width: 0.625rem;
		border: 0.25rem solid #b8b8b800;
		background-clip: content-box;
	}

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-font-smoothing: antialiased;
	@media screen and (min-width: 40rem) and (max-width: 115.375rem) {
		--base-font-size: 0.875rem;
	}
	@media screen and (min-width: 115.375rem) and (max-width: 134rem) {
		--base-font-size: 1rem;
	}
	@media screen and (min-width: 134.75rem) {
		--base-font-size: 1.125rem;
	}
}
.tooltip {
	position: absolute;
	display: block;
	pointer-events: none;
	// @include mixins.animation(0, 0.2s, false, fade, normal, both);
	opacity: 0;
	will-change: opacity, transform;
	transition: opacity linear 100ms;

	&::before,
	&::after {
		transform: rotate(-135deg);
		width: 8px;
		height: 8px;
		bottom: 50%;
		right: 50%;
		content: "";
	}
	transform: translate(calc(var(--tt-pos-x)), var(--tt-pos-y));
	transform-origin: center;
	// isolation: isolate;
	border: 1px solid #323232;
	box-shadow: 0px 0px 1px #323232;
	background: #121212;
	font-size: v.$size-1;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	border-radius: 4px;
	color: #f1f1f1;
	padding: 0.3rem;
	font-weight: 500;
	min-width: 1rem;
	max-width: 20rem;
	text-transform: capitalize;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	position: absolute;
	display: block;
	z-index: 500;
}

body {
	margin: 0;
	overflow: hidden;
	position: fixed;
}
html {
	font-size: var(--base-font-size);
}
#app {
	grid-template-rows: 1fr 32fr 2fr;
	position: fixed;
	height: 100%;
	width: 100%;
	line-height: 1.5;
	inset: 0;
	display: grid;
	grid-template-areas:
		"n n n n"
		"m m m m"
		"f f f f";
	max-width: 100%;
}
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		-webkit-animation-delay: -1ms !important;
		animation-delay: -1ms !important;
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}
main {
	margin: 0 auto;
	position: relative;
	@include v.content-spacing($type: "padding");
	@include v.content-width();
}
.backdrop {
	position: fixed;
	z-index: 50;
	inset: 0;
	overflow: hidden;
	background-color: #00000063;
	width: 100%;
	height: 100%;
}
.wrapper {
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: block;
	touch-action: pan-y;
	grid-area: m/m/m/m;
}
.hidden {
	display: none !important;
	visibility: hidden !important;
}
.no-scroll {
	overflow: hidden !important;
	overflow-y: hidden !important;
}
.soft-no-scroll {
	overflow: hidden !important;
	overflow-y: scroll !important;
}

.container {
	// margin: 0 auto;
	max-width: 112rem;
	// padding: 0 2rem;
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	&.row {
		flex-direction: row;
	}
}
