// BASE MEDIA STYLES

figure {
	margin: 0;
}

img,
picture {
	margin: 0;
	border-radius: var(--md-radius);

	max-width: 100%;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

img::before,
video::before {
	display: block;
	content: '';
	padding-top: calc(100% * 2 / 3);
}
