.no-scroll {
	overflow: hidden;
	overflow-y: hidden;
}

$sections: (
	bottom: (
		footer-container,
		player,
	),
	top: (
		nav,
	),
	forms: (
		select,
		input,
		option,
		suggestions,
	),
);
$themes: (dark, dim, midnight, ytm);

.footer-container {
	width: 100%;
	max-width: 100%;
	grid-area: f/f/f/f;
	position: relative;
	z-index: 1;
	isolation: isolate;
}

.footer-container {
	grid-area: f/f/f/f;
	// position: fixed;
	// min-height: 100%;
	bottom: 0;
	display: block;
	// z-index: 1;
	width: 100%;
	min-width: 100%;
	display: grid;
	width: 100%;
	grid-template-rows: [p] 0.5rem 1fr;
	min-width: 100%;
	flex-direction: column;
}

:root .dark * {
	color: #f3f3f3;
}
.player {
	color: #f3f3f3;
}
