nav.nav {
	will-change: contents;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	right: 0;
	grid-template-areas: "l m r";
	height: 4rem;
	z-index: 5;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	position: relative;
	align-content: center;
	padding: 1rem;
	grid-area: n/n/n/n;
	@media screen and (min-width: 640px) {
		grid-template-columns: auto 1fr;
	}
	.nav-item:not(:last-child) {
		margin-right: 0.5rem;
	}

	.logo {
		position: relative;
		visibility: visible;
		justify-self: start;
		justify-content: start;
		-o-object-fit: cover;
		object-fit: cover;
		cursor: pointer;
		grid-area: l;
		img {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			max-width: 2.5rem;
			max-height: 2.5rem;
		}
		cursor: pointer;
	}
}
.hidden {
	display: none;
}
.nav-search {
	display: inline-flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0 2rem;
	z-index: 15;
	box-sizing: border-box;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	max-width: 100%;
	height: 100%;
	align-items: center;
	// background: ;: fixed;
	background: inherit;

	&::before {
		backdrop-filter: brightness(1.1);

		box-shadow: 0 -0.5rem 1em 0.01rem #30303014 inset;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		content: "";
		z-index: -1;
	}
}

:root .light .nav-search::before {
	filter: brightness(0.1);
	background: var(--light-top);
}
