nav.nav {
	display: grid;
	grid-template-areas: "logo m end";
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	grid-area: n/n/n/n;

	@media screen and (min-width: 640px) {
		grid-template-columns: 1rem auto;
	}
	.nav-item {
		margin-right: 0.5rem;
	}
}
.hidden {
	display: none;
}
.nav-search {
	display: inline-flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 15;
	box-sizing: border-box;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	height: 100%;
	align-items: center;
	background: fixed;
	background-color: inherit;
	&::before {
		background: #111214;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		content: "";
		z-index: -1;
	}
}
