@use "sass:color";
// BASE LAYOUT STYLES

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	line-height: 1.5;
	font-size: calc(var(--base-spacing) * 1rem);
	font-family: var(--base-font);
}

body {
	margin: 0;
}

:root {
	-webkit-text-size-adjust: 100%;
	color: rgb(255, 255, 255);
	line-height: 1.5;

	font-size: calc(12px * var(--base-font-size));
}

// MEDIA QUERIES FOR FONTS
/*******************************/
@media screen and (min-width: 420px) and (max-width: 959px) {
	// font-size: 14px;
	html,
	body {
		font-size: calc(1.1 * var(--base-font-size));
	}
}
@media screen and (min-width: 960px) {
	html,
	body {
		font-size: calc(1.2 * var(--base-font-size));
	}
}

// SETUP BASE BODY
/***********************************************/
body {
	margin: 0;
	overflow: hidden;
}
.l-body,
.body {
	grid-template-rows: 4rem auto 4rem;
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;

	line-height: 1.5;
	display: grid;
	grid-template-areas:
		"n n n n"
		"m m m m"
		"f f f f";
	grid-template-columns: 16.1255rem 1fr;

	overflow: hidden;
	max-width: 100%;
}

@media (min-width: 640px) {
	.l-body,
	.body {
		grid-template-areas:
			"n n n n"
			"s m m m"
			"f f f f";
	}
}
main {
	margin: 0 auto;
	padding: 1rem;
}

a,
.link {
	transition: 120ms ease-in opacity;
	font-family: "CommissionerVariable", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	$color: white;
	text-decoration: none;
	font-weight: 100 !important;
	color: $color;
	cursor: pointer;
	opacity: 1;
	&:hover {
		opacity: 0.9;
		color: color.adjust($color, $lightness: -10%, $hue: 354deg, $saturation: 5%);
	}
}
