h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Commissioner", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	line-height: 1.5;
	font-weight: 500;
	margin: 0 0 var(--sm-spacing) 0;
	letter-spacing: -0.02em;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.85rem;
}
h3 {
	font-size: 1.68rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.35rem;
}
h6 {
	font-size: 1.15rem;
}

p,
em,
b,
small {
	margin-bottom: 0 0 var(--sm-spacing) 0;
}
