// GLOBAL VARIABLES

// Typography
// $base-font-family:'Helvetica', sans-serif;
$base-font-family: "Commissioner", sans-serif;

$secondary-font-family: "Commissioner", sans-serif;
:root {
	--base-spacing: 12px;
	--base-font-size: 12px;

	--sm-spacing: calc(var(--base-spacing) / 2.5);
	--md-spacing: calc(var(--base-spacing));
	--lg-spacing: calc(var(--base-spacing) * 1.125);
	--xl-spacing: calc(var(--base-spacing) * 1.25);

	--base-radius: 0.5ch;
	--xs-radius: calc(var(--base-radius) / 0.95);
	--sm-radius: calc(var(--base-radius) / 0.8);
	--md-radius: calc(var(--base-radius) / 0.625);
	--lg-radius: calc(var(--base-radius) / 0.5);
	--xl-radius: calc(var(--base-radius) / 0.3125);
}
// Sizes
$max-width: 85.375rem;
$base-spacing: 2rem;
$small-spacing: $base-spacing * 0.5;
$large-spacing: $base-spacing * 2;
$small-break: 480px;
// Borders
// Colors
$dark-gray: #161616;
$medium-gray: #999;
$light-gray: #ccc;
$light: #f3f3f3;
$red: tomato;
$green: #32f068;

$base-font-color: $light;
// $primary-color: #f03033;
// Font Colors
$base-border-color: $light-gray;
$base-border: 0.5px solid $light-gray;

$secondary-font-color: #f3f3f3;
// Background Colors
$base-border-radius: 3px;
$base-color: $color-active;
$primary-color: $base-color;
$base-background-color: #ffffff;
$secondary-background-color: #161616;
