.alert {
	margin-bottom: 1.125rem;
}
%m-alert {
	position: relative;
	display: block;
	max-width: $max-width;
	padding: $small-spacing $base-spacing;
	border-radius: 0.8rem;
	width: calc(100% - 2rem);
	margin: 1em 1em 0 1em;
	background-color: $color-active;
	color: #f1f1ff;
}

.m-alert {
	@extend %m-alert;
	&.-error {
		color: #fff;
		background-color: #b32f2a;
	}
	&.-success {
		color: #dbe6df;
		background-color: #2ab35f;
	}
}

.m-alert-warning {
	position: relative;
	display: block;
	max-width: $max-width;
	padding: $small-spacing $base-spacing;

	border: $base-border;
	background-color: transparentize($color-yellow, 0.85);
}

.m-alert-info {
	position: relative;
	display: block;
	text-align: center;
	max-width: $max-width;
	padding: $small-spacing $base-spacing;
	border-radius: 0.8rem;
	// border: $base-border;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: transparentize($color-gray, 0.95);
}
