.select {
	display: grid;
	grid-template-columns: 1fr 0.5px;
	align-content: center;
	font-size: 0.95rem;
	font-weight: 500;
	background-color: inherit;
	grid-template-areas: "select end";
	border-radius: var(--md-radius);
	color: inherit;
	width: 100%;
	border-radius: 0.25rem;
	min-width: 15ch;
	max-width: 30ch;
	position: relative;
	height: auto;
	min-height: 5ch;
	max-height: 30ch;
	&:active,
	&:focus-within {
		// background: #262e38;
		background-color: #ffffff27 !important;

		transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
	}
	&.inline {
		max-width: 8rem;
	}
	&::after {
		content: "";
		place-self: end;
		grid-area: end !important;
		align-self: center;
		position: absolute;
		right: 0;
		margin-right: 0.7rem;

		color: inherit;
		width: 0.6rem;
		height: 0.5rem;
		background-color: currentColor;
		-webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
		clip-path: polygon(100% 0, 0 0, 50% 100%);
	}
	transition: ease-in-out 0.5s all;
	option {
		background-color: #0d0e0ee0;
		transition: ease-in-out 0.5s all;
	}
}
select {
	option {
		// background-color: #0d0e0ee0;
		transition: ease-in-out 0.5s all;
		background-color: inherit;
		// margin-inline: 0.2rem;
		// margin-block-start: 0.125rem;
	}
	outline: none;
	&:active,
	&:focus-within {
		// background: #262e38;
		background-color: #ffffff27 !important;

		transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
	}
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	min-width: inherit;
	background-color: inherit;
	border: 1px rgba(170, 170, 170, 0.233) solid;
	color: invert(#aaaa);
	border-radius: inherit;
	padding: 0.2rem 2rem 0.5rem 0.5rem;
	color: inherit;
	margin: 0;
	width: auto;
	display: grid;
	grid-template-columns: 1fr 0.5px;
	font-weight: 500;
	background-color: inherit;
	grid-template-areas: "select end";
	border-radius: 0.2125rem;
	color: inherit;
	width: 100%;
	min-width: 15ch;
	max-width: 30ch;
	position: relative;
	min-height: inherit;
	max-height: 30ch;
	height: inherit;
	font-family: inherit;
	font-size: inherit;
	white-space: pre;
	cursor: inherit;
	position: relative;
	align-content: center;
	grid-area: select;
}
