// BASE BUTTON STYLES
// All rules related to the .button module

%button-base {
	transition: background border cubic-bezier(0.455, 0.03, 0.515, 0.955) 75ms;
	display: inline-flex;
	padding: 0.6rem 1.2rem;
	color: #0e0e0e; //  is added to colors in order to make button utility immutable.  Otherwise, it's common for `a` styles to override button specificity.
	background-color: #fffffff2;
	border: 1px solid #121212;
	border-radius: var(--base-radius);
	font-family: "Commissioner", sans-serif;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 600;
	text-transform: none;
	margin-bottom: 0.5rem;
	// text-align: center;
	// vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-height: 3rem;

	// &:focus {
	//     outline: thin dotted #333;
	//     outline-offset: -2px;
	// }
	transition: background-color linear 75ms, color linear 75ms;
	%active {
		color: rgb(15, 15, 15);
		background-color: darken(#f2f2f2f3, 10%) !important;
		border-color: #202020 !important;
		// box-shadow: 0 0 0.5rem 0.15rem rgba(0, 0, 0, 0.164) inset;
		outline: 0;
		text-decoration: none;
		cursor: pointer;
	}
	@media (hover: hover) {
		&:hover {
			color: rgb(15, 15, 15);
			background-color: darken(#f2f2f2f3, 10%) !important;
			border-color: #202020 !important;
			// box-shadow: 0 0 0.5rem 0.15rem rgba(0, 0, 0, 0.164) inset;
			outline: 0;
			text-decoration: none;
			cursor: pointer;
		}
	}
	&:active,
	&.active {
		@extend %active;
		background-color: #f1f1f1 !important;
	}
	&:disabled {
		background-color: rgb(44, 44, 44);
		color: #777777 !important;
		cursor: not-allowed;
		&:hover {
			background-color: rgb(44, 44, 44) !important;
		}
	}
}

// Button Types
////////////////////////////////
button.small {
	@extend %button-base;
	max-width: fit-content;
}
button.has-icon {
	display: inline-flex;
	justify-items: center;
	justify-content: center;
	> .text {
		margin-left: 0.125rem;
	}
}

button.outlined {
	display: inline-flex;
	min-width: 7rem;
	align-items: center;
	font-weight: 700;

	background-color: transparent !important;
	border: white 0.1rem solid !important;
	color: white !important;
	// align-items: center;
	/* flex-wrap: nowrap; */
	/* place-items: center; */
	display: inline-flex;
	font-weight: 500;

	&:active {
		border: rgb(158, 158, 158) 0.1rem solid !important;
		background: rgba(255, 255, 255, 0.027) !important;
		box-shadow: 0 0 0.1em 0 inset black;
		color: rgb(236, 236, 236) !important;
	}

	.button-text {
		margin-left: 0.2rem;
		align-self: center;
		padding-bottom: 0.1rem;
	}
	@media (hover: hover) {
		&:hover {
			background-color: rgba(255, 255, 255, 0.034) !important;
			border-color: #caca !important;
		}
	}
	&:active {
		background-color: rgba(255, 255, 255, 0.096) !important;
		// background-color: transparentize(#fff, 0.3) !important;
		border-color: rgba(255, 255, 255, 0.667) !important;
	}

	// font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
// Main Button
.button {
	@extend %button-base;
}
button {
	@extend %button-base;
}
