@use "../base/variables" as v;

// BASE BUTTON STYLES
// All rules related to the .button module
$background: #ffffff;
$color: #0d0d0d;
$focus-background: #cccccc;
$focus-color: #1c1c1c;
%active {
	color: $focus-color;
	background: $focus-background !important;
	border-color: $focus-color !important;
	// box-shadow: 0 0 0.5rem 0.15rem rgba(0, 0, 0, 0.164) inset;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
}
%button-base {
	display: inline-flex;
	color: #0e0e0e !important; //  is added to colors in order to make button utility immutable.  Otherwise, it's common for `a` styles to override button specificity.
	background: $background;

	border: 0.15rem solid hsl(0deg 0% 7%);
	border-radius: v.$base-radius;
	font-family: "Commissioner", sans-serif;
	cursor: pointer;
	font-size: unset;
	gap: 0.25em;
	font-weight: 500;
	text-transform: none;
	// margin-bottom: 0.5rem;
	// text-align: center;
	// vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0.5625rem 1.1rem;
	// height: 100%;
	// width: 100%;
	/* align-items: center; */
	transition: background linear 75ms, color linear 75ms;
	text-transform: capitalize;
	// font-weight: 600;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	// &:focus {
	//     outline: thin dotted #333;
	//     outline-offset: -2px;
	// }
	transition: background linear 75ms, color linear 75ms;
	@media (hover: hover) {
		&:hover {
			color: rgb(15, 15, 15) !important;
			background: lighten($focus-background, 10%) !important;
			border-color: #202020 !important;
			box-shadow: 0 0 0.05rem 0.05rem rgba(0, 0, 0, 0.226) inset;
			outline: 0;
			text-decoration: none;
			cursor: pointer;
		}
	}
	&:active,
	&.active {
		@extend %active;
		// background: #f1f1f1 !important;
		color: lighten($focus-color, 10%) !important 	;
		border-color: $focus-color !important;
		background: lighten($focus-background, 3%) !important;
	}
	&:disabled,
	.disabled {
		background: rgb(44, 44, 44) !important;
		color: #979797 !important;
		cursor: not-allowed;
		border-color: #444;
		&:hover {
			background: rgb(44, 44, 44) !important;
		}
	}
}
// Main Button
button:not(.icon-btn),
.button {
	@extend %button-base;
}

// Button Types
////////////////////////////////
button.small {
	@extend %button-base;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
}

button.has-icon {
	display: inline-flex;
	justify-items: center;
	justify-content: center;
	> .text {
		margin-left: 0.125rem;
	}
}

button.outlined {
	background: #0000 !important;
	border: white 0.1rem solid !important;
	color: white !important;
	font-weight: 500;

	&:active {
		border: rgb(158, 158, 158) 0.1rem solid !important;
		background: rgba(255, 255, 255, 0.027) !important;
		box-shadow: 0 0 0.1em 0 inset black;
		color: rgb(236, 236, 236) !important;
	}

	.button-text {
		margin-left: 0.2rem;
		align-self: center;
		padding-bottom: 0.1rem;
	}
	@media (hover: hover) {
		&:hover {
			background: rgba(255, 255, 255, 0.034) !important;
			border-color: rgba(194, 170, 194, 0.667) !important;
			color: rgb(236, 236, 236) !important;
		}
	}
	&:active {
		background: rgba(255, 255, 255, 0.096) !important;
		// background-color: transparentize(#fff, 0.3) !important;
		border-color: rgba(255, 255, 255, 0.667) !important;
	}
}
button.icon-btn {
	display: inline-flex;
	flex-wrap: nowrap;
	position: relative;
	cursor: pointer;
	padding: 8pt;
	place-content: center;
	max-width: 44pt;
	border: none;
	background-color: hsl(0deg 0% 0% / 0%);
	color: var(--color-dark);
}

button.danger {
	border-color: #eb2019 !important;
	color: darken(#ff4949, 3%) !important;
	background: #5c191718 !important;
	&:hover {
		color: lighten(#ff4949, 3%) !important;
		border-color: #eb2019b2 !important;
		background: #5c19174d !important;
	}
	&:active {
		color: lighten(#fafafa, 10%) !important;
		border-color: #eb20195b !important;
		background: #c013136c !important;
	}
}
