.dd-text {
	display: inline-block;
	margin-left: 0.5em;
	font-size: 1em;
	white-space: nowrap;
	color: inherit;
}
.menuButtons svg circle {
	/* box-shadow: 0 0 0.5rem 0.125rem filter: drop-shadow(0rem 0.02rem 0.5rem black) contrast(1);#000; */
	/* outline: solid #11111161 1px; */
	filter: drop-shadow(0rem 0.02rem 0.5rem black) contrast(1);
}

.dd-item {
	z-index: 5;
	display: flex;
	flex-direction: row;
	padding: 0.8rem;
	align-items: center;
	cursor: pointer;
	margin: 0;
	border-bottom: 0.0714rem solid #2a2b30;
	color: #fff9f9;
	will-change: contents;
	position: relative;
	&:hover {
		color: #fcf6f6;
		background-color: #585869;
		transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 75ms;
	}
	&:active {
		background-color: #a0a0b1;

		transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) all 0.3s;
	}
}

.dd-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	border-radius: var(--lg-radius);
	z-index: 5;

	background: #333333;
	border: 1px #5f5f5f solid;
	pointer-events: all;
}
.dd-player {
	position: fixed;
	top: 0;

	isolation: isolate;
	left: 0;
	border-radius: var(--lg-radius);
	z-index: 5;

	background: #333333;
	border: 1px #5f5f5f solid;
	pointer-events: all;
	// isolation: isolate;

	transform: translateY(-2.25rem);
	flex-direction: column;
	flex-wrap: nowrap;
	.dd-item * {
		color: #fcfcfc !important;
	}
}

html.light .dd-menu {
	background-color: #cecece;
}
