.dd-text {
	display: inline-block;
	margin-left: 0.5em;
	font-size: 1em;
	white-space: nowrap;
	color: inherit;
}
.dd-button svg circle {
	/* box-shadow: 0 0 0.5rem 0.125rem filter: drop-shadow(0rem 0.02rem 0.5rem black) contrast(1);#000; */
	/* outline: solid #11111161 1px; */
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		filter: drop-shadow(0rem 0rem 0.15rem hsl(0deg 0% 0% / 52%)) contrast(0.5);
	}
}

.dd-button svg {
	filter: drop-shadow(-0rem -0rem 0.05rem hsl(0deg 0% 0% / 99%)) drop-shadow(0rem 0rem 0.05rem hsl(0deg 0% 0% / 99%))
		contrast(1);

	// filter: drop-shadow(-0rem -0rem 0.15rem hsl(0deg 0% 0% / 52%));
}

.dd-item {
	z-index: 5;
	display: flex;
	flex-direction: row;
	padding: 0.8rem;
	align-items: center;
	cursor: pointer;
	margin: 0;
	// border-bottom: 0.0714rem solid #2a2b30;
	background-color: #0000;
	color: #fff9f9;
	position: relative;
	&:hover {
		color: #fcf6f6;
		background-color: #585869;
	}
	&:active {
		background-color: #a0a0b1;
	}
}

.dd-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	border-radius: var(--lg-radius);
	z-index: 5;

	// opacity: 0;
	transform: translate(0px, 0px);
	background: #333333;
	border: 1px #5f5f5f solid;
	pointer-events: all;
}
.dd-player {
	position: absolute;
	top: 0%;

	isolation: isolate;
	left: 0%;
	border-radius: var(--lg-radius);
	z-index: 5;

	background: #333333;
	border: 1px #5f5f5f solid;
	pointer-events: all;
	// isolation: isolate;

	transform: translateY(-2.25rem);
	flex-direction: column;
	flex-wrap: nowrap;
	.dd-item * {
		color: #fcfcfc !important;
	}
}

html.light .dd-menu {
	background-color: #cecece;
}
