.header {
	display: block;
	font-weight: 600;
	margin-bottom: 1.5rem;
	padding: 0.4rem 0.4rem 0.2rem;
	/* flex-direction: row; */
	justify-content: flex-start;
	align-items: baseline;
	/* white-space: pre; */
	max-width: 100%;
	h1,
	h2 {
		margin-right: 0.728rem;
		margin-bottom: 0;
		white-space: pre;
		display: inline-block;
	}
	a {
		margin: 0 0 1.38rem;
		display: inline-block;
	}
	a small {
		$color: rgb(175, 175, 175);
		font-size: 0.95rem;
		font-weight: 700;
		font-variant-caps: all-petite-caps;
		letter-spacing: 0.05rem;
		transition: ease-in color 75ms;
		color: $color;
		&:hover {
			color: lighten($color, 30%);
			text-decoration: underline 0.001rem solid;
			text-underline-offset: 0.001rem;
		}
	}
}
